@charset "UTF-8";
/* CSS Document */
* {
	padding: 0;
	margin: 0;
}
html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Times New Roman", Times, serif;
	font-size: 100%;
	background-color: #FFFFFF;
}
* html #container {
	height: 100%;
}
h1 {
	font-size: 185%;
	padding: 10px 10px 10;
	margin-bottom: 15px;
	margin-top: 10px;
}
p {
	padding: 0 10px 1em;
}
a:link, a:visited {
	color: #990000;
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
	color: #0000FF;
}
a.foot:link, a.foot:visited {
	color: #666666;
	text-decoration: none;
}
a.foot:hover, a.foot:active {
	text-decoration: underline;
	color: #0000FF;
}
#container {
	min-height: 100%;
	background-color: #FFFFFF;
	width: 95%;
	margin: 15px auto 0;
	padding: 0px;
	height: auto;
}
#JobsHead {
	background-color: #FFFFFF;
	display: block;
	width: 95%;
}
#maintext {
	min-height: 100%;
	background-color: #FFFFFF;
	margin: 10 0px 25;
	display: block;
	padding: 10px 4px;
	top: 125px;
	bottom: auto;
	width: 95%;
}
#UHRSfooter {
	font-size: 80%;
	margin-top: 45px;
	display: block;
	width: 75%px;
	padding-top: 5px;
	clear: left;
	margin-bottom: 0px;
	text-align: center;
	color: #000000;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #999999;
	margin-right: auto;
	margin-left: auto;
}
#UHRSfooter hr {
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}
.sidebar {
	display: none;
}
#footer {
	display: none;
}
.footerText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	color: #666666;
	display: block;
	padding-top: 10px;
	padding-bottom: 5px;
}
#clearfooter {
	display: block;
	height: 50px;
}
#header {
	display: none;
}
.smaller {
	font-size: 90%;
}
.benefits_links {
	font-size: 90%;
	padding: 3px;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
}
.side_links {
	font-weight: normal;
	margin: 5px 5px 5px 15px;
	padding: 1px;
	border: 1px none #999999;
	font-size: 90%;
	line-height: 120%;
}
.h1-pseudo {
	font-size: 140%;
	font-weight: bold;
	color: #000000;
}
.side_links-2 {
	font-weight: normal;
	margin: 5px 5px 5px 25px;
	padding: 10px 1px 1px;
	border: 1px none #999999;
	font-size: 90%;
	line-height: 125%;
}
.inalayer {
	font-size: 90%;
	background-color: #FFFFCC;
	display: block;
	margin: 3px;
	padding: 3px;
	border: 1px solid #999999;
}
.sections {
	font-weight: bold;
	background-color: #E0DDCC;
	display: block;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 1px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
}
#header img {
	display: none;
}
.jobstitle-print {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 85%;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	display: block;
	padding-bottom: 5px;
}
#JobsHead img {
	display: none;
}
ol {
	margin-left: 40px;
	display: block;
	list-style-position: outside;
	margin-bottom: 15px;
}
ul {
	margin-left: 40px;
	display: list-item;
	list-style-position: outside;
	margin-bottom: 15px;
}
.infotext {
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	text-align: center;
	color: #000000;
	padding: 3px;
	font-size: 125%;
	border-top: 1px dotted #666666;
	border-bottom: 1px dotted #666666;
	text-transform: uppercase;
}
.topmenubar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	color: #333333;
	display: block;
}
div.err {
	color: red;
	font-weight: bold;
}
.style1 {
	font-size: 36px;
	font-weight: bold;
}
